@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    font-weight: 100;
}


body{
    background-color: #d3d3d3;
    padding: 35px;
}


h1{
    margin-bottom: 5px;
}
/* .container{
    padding: 40px;
    background-color: #e6e6e6;
    border-radius: 15px;
    height: 625px;
    overflow: auto;
    border: 1px solid #e6e6e6;
    
    
} */

.container h1{
    margin-bottom: 20px;
    display: block;
}

.projects{
    padding: 20px;
    border-radius: 20px;
   
   
}

.header {
    text-align: center;
    font-size: 28px;
    color: #333;
    margin-bottom: 10px; 
    position: relative; 
}


.card{
  
}

.projects:hover{
    transform: scale(1.01);
    z-index: 2;
}
.card-title{
    font-size: 20px;
    margin-bottom: 10px;
}

.card-body h4{
    font-weight: 500;
}

.projects {
    /* background-color: #e6e6e6; */
    background-color: #e6e6e6;
    cursor: pointer;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    transition: .25s;
    margin-bottom: 20px;
}

.bug-text p{
    font-size: 15px;
    font-weight: 400;
}

.bugs h5{
    margin-bottom: 5px;
    /* font-weight: 400; */
    font-size: 17px;
}
/* .bugs {
    background-color: #cccccc;
} */


.bugs{
    padding:1px;
}



.logout{
    position: absolute;
    top: 10px;  /* Distance from the top of the header */
    right: 10px; /* Distance from the right of the header */
}

.logout-button{
    background-color: red;
    padding:10px;
    width:100px;
}

button{
    margin: 10px;
    border-radius: 5px;
    padding:10px;
    cursor: pointer;
    background-color:  lightgreen ;  
    transition: .25s;                 
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border: none;
    color: white;
}

button:hover{
    transform: scale(1.01);
    z-index: 2;
}


.User-form-container{
    margin-top: 20px;    
    padding:30px;
    background-color: #e6e6e6;
    border-radius: 15px;
    height: 300px;
}

input{
    padding: 10px;
    width: 400px;
   
    
}

input:active{
    background-color: #e6e6e6;
}

select{
    padding: 10px;
}

input,select{
    margin: 20px;
    border-radius: 5px;
    background-color:lightgray;
    border: none;
}


.User-form-container{
    margin-top: 20px;    
    padding:30px;
    background-color: #e6e6e6;
    border-radius: 15px;
    height: 300px;
}

.project-form-container{
    margin-top: 20px;    
    padding:30px;
    background-color: #e6e6e6;
    border-radius: 15px;
    height: 200px;
    width: 600px;
    
}

.project2-form-container{
    margin-top: 20px;    
    padding:30px;
    background-color: #e6e6e6;
    border-radius: 15px;
    height: 200px;
    width: 1000px;
    
}

.project2-form-container input{
    width: 200px;
}

.project-form-container input{
    width:200px;
}



::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
   
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: lightgray;


     
    border-radius: 100px;
}

.bold{
    font-weight: bold;
  }

.bug-text{
    padding: 5px;
    margin-bottom: 10px;
    border: .5px solid black;
    border-radius: 5px;

}

.Addbug-container{
    margin-top: 20px;    
    padding:30px;
    background-color: #e6e6e6;
    border-radius: 15px;
    height: 300px;
}
  
.User-table{
    margin-top: 20px;    
    padding:30px;
    background-color: #e6e6e6;
    border-radius: 15px;
    height: auto;
}

.User-table table{
    width: 100%;
    border-radius: 5px;
    
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  

.projectRow{
    display: flex;
    gap:30px
    
}


#targetDate{
    width:150px;
}

.delete-container{
    margin-top: 20px;    
    padding:30px;
    background-color: #e6e6e6;
    border-radius: 15px;
    height: auto;
    width:400px;
}
  